/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header Section */
#header {
    background: linear-gradient(to right, black, grey);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

#header h1 {
    margin-right: 250px;
    font-family: "Rhodium Libre", sans-serif;
    color: white;
}

#header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white;
}

#header ul li a {
    color: white;
    font-family: "Rhodium Libre", sans-serif;
    padding: 5px;
    margin: 10px;
    transition: color 0.3s ease;
}

#header ul li a:hover {
    color: coral;
}

#header li:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 80px coral;
}

#header ul li {
    margin-right: 20px;
}

#header a {
    text-decoration: none;
}

#header.grid_12 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

/* Heading Styles */
h1 {
    letter-spacing: 3px;
    font-family: "Rhodium Libre", sans-serif;
    text-align: center;
    border-radius: 8px;
    color: white;
}

/* Paragraph Styles */
p {
    font-family: "Rhodium Libre", sans-serif;
    text-align: center;
    color: white;
    font-style: italic;
}

/* Anchor Styles */
a {
    color: white;
    font-family: "Rhodium Libre", sans-serif;
    padding: 0;
    margin: 5px;
}

/* Section Heading Styles */
h2 {
    color: white;
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
}

/* List Item Styles */
li {
    color: white;
}

i {
    color: black;
}

/* Hero Image Section */
#hero-image {
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}

#hero-image img {
    width: 100%;
    height: 590px;
    object-fit: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    overflow: hidden;
}

/* AI Info Section */
#ai-info {
    box-shadow: 5px 5px 20px grey;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid black;
    border-radius: 30px;
}

#ai-info h1 {
    color: #000;
    font-size: 24px;
    text-align: center;
}

#ai-info p {
    color: #333;
}

/* Keyframe Animation */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Blockchain Section */
.blockchain {
    padding: 20px;
    height: 350px;
    border-radius: 5px;
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
}

.blockchain2 {
    padding: 20px;
    height: 350px;
    border-radius: 5px;
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
}

section.blockchain>div {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
}

.blockchain ul {
    list-style-type: none;
    padding-left: 0px;
}

.blockchain2 ul {
    list-style-type: none;
    padding-left: 0px;
}

/* Navigation Section */
#nav li {
    border: 3px solid black;
    border-radius: 10px;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px coral;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    text-align: center;
    width: 120px;
}

/* Blockchain List Styles */
.blockchain ul li {
    display: inline-block;
    text-align: center;
    width: 320px;
}

.blockchain2 ul li {
    display: inline-block;
    text-align: center;
    width: 320px;
}

/* Circle Section */
.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.circle:hover {
    transform: scale(1.2);
}

.circle .icon {
    font-size: 40px;
    line-height: 60px;
    color: slategray;
}

/* Timeline Section */
.timeline {
    margin: 220px auto;
    text-align: center;
    max-width: 900px;
    transition: transform 0.3s;
    transform: scale(1.2);
}

.timeline-item {
    display: table-row;
}

.timeline-date,
.timeline-content {
    display: inline-grid;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px grey;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Quiz on bitcoin */
.quiz-section {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 10px coral;
    width: 300px;
    display: block;
    margin-left: 600px;
    text-align: center;
}

.timeline-date {
    font-weight: bold;
    min-width: 120px;
}

.timeline-content {
    width: 100%;
}

/* Contact Section */
.contact h2 p {
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
}


#custom-contact {
    bottom: 400px;
    left: 900px;
    width: 350px;
    margin-bottom: 350PX;
    margin-top: 150px;
    box-shadow: 5px 5px 40px #b42909;
    background-color: rgba(89, 38, 178, 0.3);
    padding-top: 30px;
    border: 1px solid black;
    border-radius: 30px;
    text-align: center;
}

/* Form Styles */
form label,
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="submit"] {
    margin-bottom: 10px;
    border-radius: 20px;
    color: white;
}

#signup-btn {
    color: black;
}

/* Footer Section */
.footer {
    background: linear-gradient(to right, black, grey);
    padding-top: 5px;
    color: white;
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* Social Networks Section */

.social-networks>li {
    display: inline-block;
    margin: 0 5px;
    color: whitesmoke;
}

.social-networks i {
    font-size: 34px;
    padding: 5px;
    color: whitesmoke;
}

.footer a[href] {
    color: white;
}

/* Background Styles */
body {
    background: linear-gradient(to bottom, black, darkgray);
}

#contact-information {
    border-radius: 50px;
}

#contact-information {
    box-shadow: 5px 10px 20px grey;
    background-color: rgba(0, 0, 0, 0.2);
}


#contact-information h1 {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-section a:hover {
    color: orange;
    text-decoration: none;
}

.contact-text {
    max-width: 80%;
    margin: 0 auto;
}

/* For screens smaller than 320px (Mobile) */
@media (min-width: 320px) and (max-width: 420px) {
    #header h1 {
        margin-right: 20px;
        font-size: 14px;
    }

    #header ul li {
        margin-right: 10px;
    }

    #hero-image img {
        height: 200px;
    }

    #hero-image {
        position: relative;
        margin-top: 0px;
        overflow: hidden;
        width: 100%;
    }

    #ai-info {
        bottom: 300px;
        right: 20px;
        font-size: 7px;
        float: left;
    }


    #ai-info p {
        bottom: 200px;
        right: 75px;
    }

    #custom-contact {
        left: 50px;
        right: 50px;
        width: 250px;
        margin-left: 30px;
        margin-bottom: 440px;
    }

    #contact-information {
        margin-left: 20px;
        margin-right: 20px;
        height: 190px;
    }

    .blockchain {
        margin-bottom: 10px;
    }

    .blockchain2 {
        padding-top: 140px;
        padding-bottom: 120px;
        margin-bottom: 10px;
    }

    .blockchain ul li {
        height: 50px;
        width: 260px;
        display: contents;
        font-size: x-small;
    }

    .blockchain2 ul li {
        height: 50px;
        width: 177px;
        display: contents;
        font-size: x-small;
    }

    .circle {
        width: 70px;
        height: 60px;
        border-radius: 50%;
    }

    .contact-information::before {
        font-size: 10px;
    }

    #signup-btn {
        color: coral;
        text-align: center;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 10px;
    }

    .timeline {
        margin: 50px auto;
        transform: scale(1);
    }

    .timeline-content {
        width: 80%;
        margin-left: 0px;
    }

    .quiz-section {
        margin-left: 50px;
        width: 237px;
    }

    form label,
    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form input[type="submit"] {
        width: 100px;
        margin-bottom: 10px;
        border-radius: 20px;
        color: orange;
    }

    form#signup-section {
        display: inline-grid;
    }

    #header.grid_12 {
        font-size: 7px;
        padding-top: 10px;
    }

    #nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav li {
        margin-bottom: 10px;
    }

    .social-networks {
        display: flex;
    }

    .contact {
        width: 470px;
    }

    .footer {
        margin-top: 85px;
        width: 320px;
    }


}

/* For screens at 768px wide */
@media (min-width: 768px) {
    #header h2 {
        margin-right: 40px;
        font-size: 17px;
    }

    #header ul li {
        margin-right: 10px;
    }

    #hero-image img {
        height: 210px;
    }

    #ai-info p {
        bottom: 200px;
        right: 75px;
    }

    #custom-contact {
        display: block;
        height: 485px;
        margin-left: 100px;
        margin-right: 00px;
    }

    .blockchain {
        margin-bottom: 10px;
    }

    .blockchain2 {
        padding-top: 140px;
        padding-bottom: 120px;
        margin-bottom: 10px;
    }

    .blockchain ul li {
        height: 50px;
        width: 260px;
        display: contents;
        font-size: x-small;
    }

    .blockchain2 ul li {
        height: 50px;
        width: 177px;
        display: contents;
        font-size: x-small;
    }

    .circle {
        width: 70px;
        height: 60px;
        border-radius: 50%;
    }

    .contact-information::before {
        font-size: 10px;
    }


    .quiz-section {
        margin-left: 250px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    form label,
    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form input[type="submit"] {
        width: 100px;
        margin-bottom: 10px;
        border-radius: 20px;
        color: orange;
    }

    form#signup-section {
        display: inline-grid;
    }

    #signup-btn {
        background-color: orange;
        color: white;
    }

    .timeline {
        margin: 50px auto;
        transform: scale(1);
        width: 400px;
    }

    #header.grid_12 {
        font-size: 12px;
        padding-top: 10px;
    }

    #nav {
        flex-direction: inherit;
        align-items: flex-start;
    }

    #nav li {
        margin-bottom: 10px;
    }


    .footer {
        margin-top: 50px;
        width: 768px;
    }

}

/* for screens larger then 1280px wide */
@media (min-width: 1280px) {
    #header h2 {
        margin-right: 400px;
        margin-left: 20px;
        font-size: 20px;
    }

    #header ul li {
        margin-right: 10px;
    }

    #hero-image img {
        height: 440px;
    }

    #hero-image-signup img {
        height: 440px;
    }

    #ai-info p {
        bottom: 200px;
        right: 75px;
    }

    #custom-contact {
        display: inline-grid;
        width: 650px;
        height: 471px;
        margin-left: 400px;
    }

    form label,
    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form input[type="submit"] {
        width: 180px;
        margin-bottom: 10px;
        border-radius: 20px;
        color: orange;
    }

    #signup-btn {
        background-color: orange;
        color: white;
        width: 180px;
    }

    #signup-section {
        padding: 30px;
        display: grid;
        margin-left: 180px;
    }

    .blockchain {
        margin-bottom: 10px;
        height: 290px;
        display: contents;
    }

    .blockchain2 {
        height: 550px;
        display: contents;
    }

    .blockchain ul li {
        height: 50px;
        width: 360px;
        display: table-cell;
        font-size: inherit;
    }

    .blockchain2 ul li {
        height: 50px;
        width: 360px;
        display: table-cell;
        font-size: inherit;
    }

    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }


    .contact-information::before {
        font-size: 10px;
    }

    .quiz-section {
        margin-left: 490px;
    }

    h2 {
        font-size: 25px;
        letter-spacing: 3px;
    }

    p {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .timeline {
        margin: 50px auto;
        transform: scale(1);
    }

    #header.grid_12 {
        font-size: 15px;
        padding-top: 10px;
    }

    #nav {
        flex-direction: inherit;
        align-items: flex-start;
    }

    #nav li {
        margin-bottom: 10px;
    }


    .footer {
        width: 1280px;
    }

}

/* For screen sizes up too 1600px */
@media (min-width: 1600px) {

    .quiz-section {
        margin-left: 650px;
    }

    .footer {
        width: 1600px;
    }

    div#header {
        width: 100%;
    }

    .timeline {
        width: 1000px;
    }
}