/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header Section */
#header {
    background: linear-gradient(to right, black, grey);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

#header h1 {
    margin-right: 250px;
    font-family: "Rhodium Libre", sans-serif;
    color: white;
    text-shadow: 2px 2px 2px coral;
}

#header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white;
}

#header ul li a {
    color: white;
    font-family: "Rhodium Libre", sans-serif;
    padding: 5px;
    margin: 10px;
    transition: color 0.3s ease;
}

#header ul li a:hover {
    color: coral;
}

#header li:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 80px coral;
}

#header ul li {
    margin-right: 20px;
}

#header a {
    text-decoration: none;
}

#header.grid_12 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

/* Heading Styles */
h1 {
    letter-spacing: 3px;
    font-family: "Rhodium Libre", sans-serif;
    text-align: center;
    border-radius: 8px;
    text-shadow: 2px 2px 2px coral;
    color: white;
}

/* Paragraph Styles */
p {
    font-family: "Rhodium Libre", sans-serif;
    text-align: center;
    color: white;
    font-style: italic;
}

/* Anchor Styles */
a {
    color: white;
    font-family: "Rhodium Libre", sans-serif;
    padding: 0;
    margin: 5px;
}

/* Section Heading Styles */
h2 {
    color: white;
    text-align: center;
}

/* List Item Styles */
li {
    color: white;
}

/* Hero Image Section */
#hero-image {
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}

#hero-image img {
    width: 100%;
    height: 590px;
    object-fit: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    overflow: hidden;
}

/* AI Info Section */
#ai-info {
    position: absolute;
    bottom: 300px;
    right: 100px;
    box-shadow: 5px 5px 20px grey;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border: 3px solid black;
    border-radius: 30px;
    max-width: 350px;
}

#ai-info h1 {
    color: #000;
    font-size: 24px;
    text-align: center;
}

#ai-info p {
    color: #333;
}

/* Keyframe Animation */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Blockchain Section */
.blockchain {
    padding: 20px;
    height: 350px;
    border-radius: 5px;
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
}

.blockchain2 {
    padding: 20px;
    height: 350px;
    border-radius: 5px;
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
}

section.blockchain>div {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
}

.blockchain ul {
    list-style-type: none;
    padding-left: 0px;
}

.blockchain2 ul {
    list-style-type: none;
    padding-left: 0px;
}

/* Navigation Section */
#nav li {
    border: 3px solid black;
    border-radius: 10px;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px coral;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    text-align: center;
    width: 120px;
}

/* Blockchain List Styles */
.blockchain ul li {
    display: inline-block;
    text-align: center;
    width: 320px;
}

.blockchain2 ul li {
    display: inline-block;
    text-align: center;
    width: 320px;
}

/* Circle Section */
.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.circle:hover {
    transform: scale(1.2);
}

.circle .icon {
    font-size: 40px;
    line-height: 60px;
    color: slategray;
    box-shadow: 5px 10px 90px white;
}

/* Timeline Section */
.timeline {
    margin: 220px auto;
    text-align: center;
    max-width: 900px;
    transition: transform 0.3s;
    transform: scale(1.2);
}

.timeline-item {
    display: table-row;
}

.timeline-date,
.timeline-content {
    display: table-cell;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px grey;
    border-radius: 20px;
    margin-bottom: 20px;
}

.timeline-date {
    font-weight: bold;
    min-width: 120px;
}

.timeline-content {
    width: 100%;
}

/* Contact Section */
.contact {
    display: table-cell;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 60px;
    max-width: max-content;
}

.contact h2 p {
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
}

.contact {
    background-image: url("ivana-cajina-asuyh-_ZX54-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    overflow: visible;
    backface-visibility: hidden;
    margin: 40px;
    top: 90px;
}

#custom-contact {
    position: fixed;
    bottom: 200px;
    left: 900px;
    width: 250px;
    margin-right: 400px;
    box-shadow: 5px 5px 40px #b42909;
    background-color: rgba(89, 38, 178, 0.7);
    padding: 30px;
    border: 3px solid black;
    border-radius: 30px;
    text-align: center;
}

/* Form Styles */
form label,
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="submit"] {
    margin-bottom: 10px;
    border-radius: 20px;
    color: white;
}

#signup-btn {
    color: black;
}

/* Footer Section */
.footer {
    background: linear-gradient(to right, black, grey);
    margin: 90px 0 0 1px;
    padding-top: 5px;
    height: 140px;
    color: white;
    text-align: center;
    font-family: "Rhodium Libre", sans-serif;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* Social Networks Section */
.social-networks {
    text-align: center;
    margin-top: 10px;
    color: whitesmoke;
}

.social-networks>li {
    display: inline-block;
    margin: 0 5px;
    color: whitesmoke;
}

.social-networks i {
    font-size: 34px;
    padding: 5px;
    color: whitesmoke;
}

.footer a[href] {
    color: white;
}

/* Background Styles */
body {
    background: linear-gradient(to bottom, black, darkgray);
}

#contact-information {
    background-color: rgba(0, 0, 0, 0);
    height: 160px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-top: 10px;
    box-shadow: 5px 10px 10px grey;
    border-radius: 50px;
    color: white;
    margin-left: 90px;
    text-align: center;
    position: relative;
    z-index: 1;
}

#contact-information {
    box-shadow: 5px 10px 20px grey;
    background-color: rgba(0, 0, 0, 0.2);
}

#contact-information::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    border-radius: 50px;
    z-index: -1;
}

#contact-information h1 {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#contact-information a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-text {
    max-width: 80%;
    margin: 0 auto;
}

/* For screens smaller than 425px (Mobile) */
@media (max-width: 425px) {
    #header h1 {
        margin-right: 20px;
        font-size: 14px;
    }

    #header ul li {
        margin-right: 10px;
    }

    #hero-image img {
        height: 300px;
    }

    #ai-info {
        bottom: 300px;
        right: 20px;
        width: 200px;
        font-size: 7px;
        float: left;
    }


    #ai-info p {
        bottom: 200px;
        right: 75px;
    }

    #custom-contact {
        left: 50px;
        right: 50px;
        width: auto;
        margin-right: 0;
    }

    .blockchain2 {
        padding-top: 150px;
        margin-bottom: 10px;
    }

    .blockchain ul li {
        height: 50px;
        width: 160px;
    }

    .blockchain2 ul li {
        height: 50px;
        width: 177px;
    }

    .contact-text {
        font-size: 10px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 8px;
    }

    .timeline {
        margin: 50px auto;
        transform: scale(1);
    }

    #header.grid_12 {
        font-size: 7px;
        padding-top: 10px;
    }

    #nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav li {
        margin-bottom: 10px;
    }

    .footer {
        margin-top: 80px;
        padding-top: 20px;
        height: 160px;
    }

    #aichatbot {
        margin-top: 40px;
        text-align: center;
    }

}

/* For screens between 768px and 1023px (Tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
    #header h1 {
        margin-right: 100px;
    }

    #header ul li {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #hero-image img {
        height: 400px;
    }

    #ai-info {
        bottom: 200px;
        right: 75px;
    }

    .change h1 {
        margin-left: 100px;
    }

    #custom-contact {
        left: 75px;
        right: 75px;
        width: auto;
        margin-right: 0;
    }

    .timeline {
        margin: 120px auto;
        transform: scale(1.2);
    }

    #header.grid_12 {
        font-size: 18px;
        padding-top: 15px;
    }

    #nav {
        flex-direction: row;
        justify-content: center;
    }

    #nav li {
        margin-bottom: 0;
        margin-right: 15px;
    }

    #aichatbot {
        margin-top: 60px;
        text-align: center;
    }

    #aichatbot h1#pahsa.i-section {
        margin-bottom: 20px;
    }

    #aichatbot .circle {
        margin-bottom: 40px;
    }

    #aichatbot .change h1 {
        margin-left: 100px;
    }

    #aichatbot #chatbox {
        margin-top: 40px;
    }
}

/* For screens larger than 1023px (Desktop) */
@media (min-width: 1024px) {
    #header h1 {
        margin-right: 250px;
    }

    #header ul li {
        margin-right: 20px;
    }

    #hero-image img {
        height: 590px;
    }

    #ai-info {
        bottom: 300px;
        right: 100px;
        font-size: 14px;
    }

    .change h1 {
        margin-left: 290px;
    }

    #custom-contact {
        left: 900px;
        width: 250px;
        margin-right: 400px;
    }

    .timeline {
        margin: 220px auto;
        transform: scale(1.2);
    }

    #header.grid_12 {
        font-size: 12px;
        padding-top: 20px;
    }

    #aichatbot {
        margin-top: 10px;
        text-align: center;
    }

    #aichatbot h1#pahsa.i-section {
        margin-bottom: 30px;
    }

    #aichatbot .circle {
        margin-bottom: 60px;
    }

    #aichatbot .change h1 {
        margin-left: 370px;
        margin-top: 30px;
    }

    #aichatbot #chatbox {
        margin-top: 10px;
    }
}